Farama-Notifications==0.0.4
GitPython==3.1.43
Jinja2==3.1.3
Markdown==3.6
MarkupSafe==2.1.5
PyOpenGL==3.1.7
PySocks==1.7.1
PyYAML==6.0.1
Pygments==2.17.2
Werkzeug==3.0.2
absl-py==2.1.0
appdirs==1.4.4
asttokens==2.4.1
backcall==0.2.0
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
debugpy==1.6.7
decorator==4.4.2
docker-pycreds==0.4.0
executing==2.0.1
filelock==3.13.4
fonttools==4.51.0
fsspec==2024.3.1
gdown==5.1.0
gitdb==4.0.11
glfw==2.7.0
google-auth-oauthlib==1.0.0
google-auth==2.29.0
grpcio==1.62.2
gymnasium-robotics==1.2.2
gymnasium==0.28.1
idna==3.7
imageio-ffmpeg==0.4.9
imageio==2.34.0
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipykernel==6.29.3
ipython==8.12.0
jax-jumpy==1.0.0
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==4.12.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib-inline==0.1.7
matplotlib==3.7.5
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
mujoco==2.3.3
nest_asyncio==1.6.0
networkx==3.1
numpy==1.23.5
oauthlib==3.2.2
omnisafe==0.5.0
omnisafe==0.5.0
omnisafe==0.5.0
packaging==24.0
pandas==2.0.3
parso==0.8.4
pettingzoo==1.24.3
pickleshare==0.7.5
pillow==10.3.0
pip==23.3.1
proglog==0.1.10
prompt-toolkit==3.0.42
protobuf==4.25.3
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pygame==2.1.0
pyparsing==3.1.2
python-dateutil==2.9.0
pytz==2024.1
pywin32==227
pyzmq==25.1.2
requests-oauthlib==2.0.0
requests==2.31.0
rich==13.7.1
rsa==4.9
safety-gymnasium==1.0.0
seaborn==0.13.2
sentry-sdk==1.45.0
setproctitle==1.3.3
setuptools==68.2.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
soupsieve==2.5
stack-data==0.6.2
sympy==1.12
tensorboard-data-server==0.7.2
tensorboard==2.14.0
torch==2.2.2+cu118
tornado==6.2
tqdm==4.66.2
traitlets==5.14.3
typer==0.12.3
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
wandb==0.16.6
wcwidth==0.2.13
wheel==0.41.2
xmltodict==0.13.0
zipp==3.17.0